body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*####### HEADER ###########################################*/
#banner {
    position: relative;
    background-image: url('../assets/backgroud-banner.jpg');
    width: 100vw;
    min-width: 640px;
    height: 400px;
    background-size: cover;
    background-position: center 80%;
}

.navbar {
    top: 310px;
    width: 100vw;
    height: 60px;
    margin: auto;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 101, 27, 0.7);
    font-weight: lighter;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #719360;
    border-bottom: 5px solid white;
}

.logo {
    flex: 1;
    height: inherit;
    display: flex;
    justify-content: center;
}
#home {
    height: 80%;
    margin: auto;
    margin-left: 10%;
}
nav ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: inherit;
    margin: 0px;
}

nav li {
    list-style-type: none;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: inherit;
}

.menu:hover {
    background-color: #3e5c2f;

}

.menu {
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inherit;
    align-items: center;
    justify-content: center;
}

#home img {
    height: 100%;
}


/*####### FILTRO DE PESQUISA ###########################################*/

section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#subtitle1 {
    margin-top: 10px;
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: 3px;
}

#busca {
    margin-top: 50px;
    padding: 20px;
    height: 300px;
    width: 75%;
    border-radius: 20px;
    background-color: rgba(51, 101, 27, 0.7);
}

#busca form {
    display: flex;
    flex-direction: row;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
}



/*####### RESPONSIVIDADE ###########################################*/

@media only screen and (max-width: 450px) {
    #banner{
        height: 250px;
    }
}

@media only screen and (max-height: 450px) {
    #banner{
        height: 250px;
    }
}